.cardsContainer{
    margin-top: 40px;
    display: flex;
    width: 100%;
    overflow: auto;
}

.cardsContainer::-webkit-scrollbar{
    height: 8px;
}

.cardsContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.cardsContainer::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.cardsContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }