.footer{
    display: flex;
    flex-direction: column;
    background-color: #212121;
    color: white;
    margin-top: 50px;
    padding: 30px 0px 0px 0px;
}

.footer__container{
    display: flex;
}

.footer__section{
    width: 25%;
    padding: 0px 10px;
}

.footer__section > ul{
    list-style: none;
    padding: 0px;
}

.footer__section > ul > li{
    padding: 5px 0px;
}

.footer__section > span{
    color: yellow;
}

.footer__line{
    border: 1px solid #4a4848;
}

.icon{
    max-width: 70px;
    margin: 0px 10px;
}

.footer__developt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay{
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
}

.pay >div{
    margin: 0px 10px;
}